{
    "useTabs": false,
    "printWidth": 80,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "parser": "babylon",
	"noSemi": true,
    "rcVerbose": true
}
